h1{
    color: rgb(123, 7, 146);
}

body{
    color: rgb(123, 7, 146);
	margin: 0;
	width:100%;
	height:100%;
}
		
header{
	background-color: rgba(162, 0, 255, 0.445);
	padding:5px 25px;
}
		
nav{
	padding:8px;
	background-color: rgba(162, 0, 255, 0.445);
}
		
nav ul{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style-type: none;
	padding-left:0px;
	margin:0px;
}
		
nav ul li{
	
	display:inline-block;
	background-color: rgba(162, 0, 255, 0.445);
}
		
nav ul li a{
	background-color: rgb(240, 238, 238);
	color: rgb(240, 238, 238);
	text-decoration: none;
	padding:0 5px;	
	font-weight:bold;
	text-transform: uppercase;
	font-size:13px;
}
		
footer{
	background-color: rgb(240, 238, 238);
	color: rgb(240, 238, 238);
	padding:10px;
}
		
footer h2{
	margin:0px;
	text-transform: uppercase;
	font-size:13px;
	padding:0 5px;	
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
}